*{
  min-width: 0;
  font: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;

}

h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
  color: #FC6736;
  font-weight: bold;
}

h1{
  font-size: 2rem;
  text-align: center;
}
h4{
  font-size: 1.5rem;
}

p{
  text-wrap: pretty;
  color: #FFB0B0;
  font-size: 1rem;

}
li{
  color: #FFB0B0;
  font-size: 1rem;
}
img{
  width: 99%;
  max-width: 600px;
  border-radius: 8px;
}
section{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.body{
  background-color: #0C2D57;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor{
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  gap: 2rem;
  padding: 1rem;
}

.tipos__variable{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tipos__variable>article>p>span{
  font-weight: bold;
}

.lista__datos{
  display: flex;
  gap: 5px;
}
.lista__datos>p:nth-child(1){
  font-weight: bold;
}


@media (width > 600px) {
  h1{
    font-size: 3rem;
    text-align: center;
  }
  h4{
    font-size: 2rem;
  }
  p,li{
    font-size: 1.1rem;
  }
}
